
.container {
  font-family: 'lato', sans-serif;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  h2 {
    font-weight: bold;
    font-size: 2.5rem;
    margin: 50px 0;
    text-align: center;
  }
}

.responsive-table {
  // border: 1px solid black;
  margin-top: 2rem;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  tr {
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }
  .table-headers {
    margin-bottom: 20px;
    border-radius: 8px;
    height: 7rem;
    text-align: center;
    background-color: #95A5A6;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
  }
  .header-row{

  }
  .table-row {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
  }
  .cols-1 {
    display: flex;
    border: none;
    flex-basis: 20%;
  }
  .cols-2 {
    border: none;
    flex-basis: 20%;
  }
  .cols-3 {
    border: none;
    flex-basis: 25%;
  }
  .cols-4 {
    border: none;
    flex-basis: 25%;
  }

}

.button{
  background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex-shrink: 0;
  font-size: 16px;
  font-weight: 500;
  height: 3rem;
  padding: 0 1.6rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
  transition-duration: .1s;
}